@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&display=swap");
h1, h2, h3, h4, h5, h6, li, a { font-family: "Oswald sans-serif"; }
* { padding: 0px; margin: 0px; }



body span { font-family: "Work Sans", sans-serif; }
.body p { font-family: "Work Sans", sans-serif; color: rgb(101, 101, 101); line-height: 1.5; -webkit-font-smoothing: antialiased; font-size: 1rem; }
nav.Navbar-nav { display: flex; justify-content: space-between; align-items: center; flex-wrap: inherit; padding: 32px; }
.nav-left { font-size: 30px; }
a.nav-link { text-decoration: none; font-size: 20px; padding-right: 0.5rem; padding-left: 0.5rem; text-transform: capitalize; }
#text-color { color: cornflowerblue; font-weight: 500; }
nav.navbar.navbar-expand-lg.navbar-light { background-color: rgb(0, 18, 32); }
a#link-color { color: cornflowerblue; }
a#navbarDropdown { color: cornflowerblue !important; }
.nav-link { color: cornflowerblue !important; }
div#Tops { margin-top: 15%; }
.col-box { margin-top: 25%; }
p.box-p { font-size: 22px; }
h1.box-h1 { text-transform: capitalize; font-size: 40px; font-weight: 500; padding-bottom: 15px; }
.Socal-icon a { padding-right: 1rem; font-size: 20px; color: black; transition: all 2s ease 0s; }
.Socal-icon a :hover { color: rgb(255, 82, 0); transition: all 0s ease 0s; }
.Socal-icon { padding-bottom: 35px; }
i.fas.fa-arrow-right { margin-left: 10px; }
button#btn { padding: 14px 35px; text-transform: capitalize; color: white; border: none; background-color: rgb(0, 18, 32); transition: all 600ms ease 0s; border-radius: 30px !important; }
button#btn:hover { background: rgb(255, 82, 0); transform: scale(1.1); border: none; outline: none; }
ul.dropdown-menu.show { }
a.dropdown-item { display: block; width: 100%; padding: 1.25rem 5rem; clear: both; font-weight: 400; color: rgb(33, 37, 41); text-align: inherit; text-decoration: none; white-space: nowrap; background-color: transparent; border: 0px; }
.Wrpper-Topbar { background: url("/SVG/stacked-waves-haikei (1).svg") 0% 0% / cover no-repeat; padding-bottom: 20px; }
#bd { border-radius: 2.25rem !important; }
ul#Ul-frist { float: left; }
ul#Ul-frist li { list-style: none; padding: 7px; font-size: 1rem; }
ul#UL-Secend li { list-style: none; padding: 7px; font-size: 1rem; }
.progress { margin: 1rem; }
div#flx { display: flex; }
div#flx { display: flex; float: right; }
.float-left { display: inline-grid; }
.flox { display: flex; }
h6#flx0 { text-transform: capitalize; text-align: center; }
.flox i { margin-right: 10px; font-size: 30px; }

a#link-color {
    color: cornflowerblue !important;
}


.article h1 {
    text-transform: capitalize;
}
img#f {
    float: right;
}
span.card-text {
    font-size: 15px;
    text-transform: capitalize;
}

h5.card-header {
    /* font-size: 1rem; */
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
}


h1.box-h1{ 
    position: relative;

}

h1.box-h1::after {
    top: 0;
    bottom: 0;
    content: '';
    width: 130px;
    height: 5;
    position: absolute;
    /* background: url(/logo/nuxt-icon\ \(1\).png);
    background-repeat: no-repeat; */
    margin-top: 42px;
    /* margin-right: 69%; */
    left: 33%;
background:#FF5200 ;
border-radius: 10px;
}

input#inputMassages4 {
    padding: 3rem;
}

ul#Ul-frist li {
    list-style: none;
    padding: 7px;
    /* font-size: 1rem; */
    font-size: 18px;
}


ul#UL-Secend li {
    list-style: none;
    padding: 7px;
    font-size: 18px;
    /* font-size: 1rem; */
    text-transform: capitalize;
}